@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css');

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Montserrat", serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
}

.badge {
  display: inline-block;
  padding: 7px 10px;
}

.badge.bg-success {
  background: #e5f8ed !important;
  color: #16b858 !important;
}
button{
  text-transform: capitalize;
}
.btn-blue {
  background: #6d4aae !important;
  color: #fff !important;
  text-transform: capitalize !important;
}

.btn-big {
  font-size: 15px !important;
  padding: 7px 30px !important;
  min-width: auto !important
}
.btn-sml{
  font-size: 12px;
  color: #000;
  text-transform: capitalize;
}
.btn-sml svg{
  font-size: 20px;
}
.btn-round {
  border-radius: 30px !important;
}

.text-light {
  color: #fff !important;
}

.text-sml {
  font-size: 14px;
}

.bg-blue {
  background: #6d4aae;
}

@media(min-width: 1300px) {

  .container,
  .container-lg,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}

.cursor {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.headerWrapper .top-strip {
  padding: 8px 0px;
}


.headerWrapper .top-strip p {
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.headerWrapper .header {
  width: 100%;
  height: auto;
  padding: 25px 0px;
}

.logoWrapper img {
  width: 100%;
  /* height:  90px; */
}

.headerWrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* padding-bottom: 10px; */
}

.headerWrapper .header .part2 .countryDropdown {
  width: 150px;
  height: 60px;
  min-width: 170px;
  text-align: left;
  justify-content: flex-start;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  padding: 10px 15px;
}

.headerWrapper .header .part2 .countryDropdown .label {
  font-size: 12px;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.4);
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDropdown .name {
  font-size: 14px;
  text-transform: capitalize;
  color: #6d4aae;
  font-weight: 700;
  line-height: 16px;
}

.headerWrapper .header .part2 .countryDropdown span.ml-auto svg {
  opacity: 0.7;
}

.headerSearch {
  width: 60%;
  height: 60px;
  background: #f3f4f7;
  padding: 5px;
  position: relative;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.headerSearch input {
  background: transparent;
  outline: none;
  font-size: 15px;
  color: 0, 0, 0, 0.7;
  width: 100%;
  height: 45px;
  border: 0;
  padding: 0px 20px;
}

.headerSearch input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.headerSearch button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  min-width: 40px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #000;
}

.headerSearch button svg {
  font-size: 16px;
  opacity: 0.8;
}

.headerWrapper .header .part3 .circle {
  align-items: center;
  justify-content: center;
  min-width: 45px;
  height: 45px;
  width: 45px;
  border-radius: 15%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
}

.headerWrapper .header .part3 .circle svg {
  font-size: 16px;
}

.cartTab button {
  background: #fff1ee;
}

.cartTab button svg {
  color: #ea2b0f;
}

.cartTab .count {
  position: absolute;
  top: -6px;
  right: -4px;
  background: #ea2b0f;
  border-radius: 50%;
  color: #fff;
  display: flex;
  width: 20px;
  height: 20px;
}

.locationModal .MuiPaper-elevation {
  padding: 25px;
  position: relative;

}

.close_ {
  position: absolute !important;
  right: 10px;
  top: 10px;
  color: #000 !important;
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
}

.close_ svg {
  font-size: 22px;
  ;
}

.locationModal .countryList {
  margin-bottom: 0px;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.locationModal .countryList li {
  width: 100%;
  list-style: none;
}

.locationModal .countryList li button {
  width: 100%;
  text-transform: capitalize;
  color: #000;
  justify-content: flex-start;
  padding: 10px 20px;
}

nav .navpart1 {
  max-width: 21%;
  flex: 0 0 21%;
}

nav .navpart1 .catWrapper {
  position: relative;
}

nav .navpart1 .catWrapper .sidebarNav {
  width: 300px;
  height: 0px;
  opacity: 0;

  transition: all0.2s;
  background: #fff;
  position: absolute;
  top: 136%;
  left: 0px;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  padding: 15px 0px;
  visibility: hidden;
  z-index: 2;
}

nav .navpart1 .catWrapper .sidebarNav.open {
  height: auto !important;
  opacity: 1 !important;
  visibility: inherit;

}

nav .navpart1 .catWrapper .sidebarNav li {
  width: 100%;
  list-style: none;
  padding: 0 10px;
  /* position: relative; */
}

nav .navpart1 .catWrapper .sidebarNav li button {
  color: #000;
  width: 100%;
  justify-content: flex-start;
  text-transform: capitalize;
}

nav .navpart1 .catWrapper .sidebarNav li button:hover {
  background: transparent;

}

nav .navpart1 .catWrapper .sidebarNav ul li {
  position: static;

}

nav .navpart1 .catWrapper .sidebarNav ul li .submenu {
  position: absolute;
  top: 0;
  left: 102%;
  width: 250px;
  height: 100%;
  background: #fff;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding: 20px;
}

nav .navpart1 .catWrapper .sidebarNav ul li .submenu button {
  border-radius: 0px;
}

nav .navpart1 .catWrapper .sidebarNav ul li:hover .submenu {
  opacity: 1;
  visibility: inherit;
  left: 100%;
}

nav .navpart1 .catWrapper .sidebarNav ul li button svg {
  font-size: 12px;
  opacity: 0.6;
}

nav .navpart2 {
  max-width: 79%;
  flex: 0 0 79%;
}

nav .allCatTab {
  background: #6d4aae;
  padding: 10px 15px;
  border-radius: 30px;
}

nav .allCatTab * {
  color: #fff;
}

nav .allCatTab:hover {
  background: #2bbef9;

}

nav .allCatTab .text {
  font-weight: 600;
}

nav .allCatTab .icon1 svg {
  font-size: 20px;
}

nav .allCatTab .icon2 svg {
  font-size: 15px;
}

nav .navpart2 ul {
  margin-bottom: 0px;
}

nav .navpart2 li {
  padding-bottom: 20px;
}

nav .navpart2 li a {
  text-decoration: none;
}

nav .navpart2 li a button {
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 8px 15px;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
}

nav .navpart2 li a:hover {
  background: #f0faff;
  color: #2bbef9;
}

nav .navpart2 li a svg {
  font-size: 20px;
}

nav .navpart2 li {
  position: relative;

}

nav .navpart2 li .submenu {
  position: absolute;
  top: 150%;
  left: 0px;
  min-width: 200px;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease-in-out;
  z-index: 2;
}

nav .navpart2 li:hover .submenu {
  opacity: 1;
  visibility: inherit;
  top: 100%;
  z-index: 2;
}

nav .navpart2 li .submenu a {
  display: block;
  width: 100%;
}

nav .navpart2 li .submenu a button {
  width: 100%;
  justify-content: flex-start;
  border-radius: 0px;
  font-weight: 600;
}

nav .navpart2 li .submenu a button:hover {
  background: #f1f1f1;
}

.homeBannerSection {
  position: relative;
}

.homeBannerSection .swiper {
  overflow: inherit;
}

.homeBannerSection .swiper .item {
  overflow: hidden;
  border-radius: 10px;
}

.homeBannerSection * {
  outline: none;
}

.homeBannerSection .swiper-button-prev,
.homeBannerSection .swiper-button-next {
  position: absolute;
  top: 45%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 20px !important;
  color: #444444;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  font-family: FontAwesome;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 12%);
  background: #fff;
}

.homeBannerSection .swiper-button-prev::after,
.homeBannerSection .swiper-button-next::after {
  font-size: 16px !important;
}


.homeProducts {
  padding: 25px 0;
  width: 100%;
}

.homeProducts .banner {
  width: 100%;
  border-radius: 7px;
  overflow: hidden;
}

.hd {
  font-size: 20euserserewpx;
  font-weight: 600;
  text-transform: capitalize;
}

.viewAllBtn {
  padding: 5px 25px !important;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;


  border-radius: 30px !important;
  color: #414141 !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
}

.viewAllBtn svg {
  font-size: 20px;

}

.productItem {
  width: 100%;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.productItem .badge {
  display: inline-block;
  padding: 7px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.info {
  padding: 15px;
  cursor: pointer;
}

.info .oldPrice {
  font-size: 16px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.2);
  text-decoration: line-through;
}

.info .oldPrice .lg {
  font-size: 20px;
}

.info .newPrice {
  font-size: 18px;
  font-weight: bold;

}

.info .newPrice .lg {
  font-size: 20px;
}

.productItem h4 {
  font-size: 15px;
  font-weight: 600;
}

.product_row .item {
  border-right: 1px solid transparent;
}

.product_row .swiper-slide:last-child .productItem {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.swiper {
  padding-right: 1px;
}

.badge-primary {
  background: #2bbefa;
}

.productItem .actions {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productItem .actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  width: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: #fff;
  transition: all 0.0s ease-in-out;
}

.productItem .imgWrapper {
  overflow: hidden;
}

.productItem .imgWrapper img {
  transition: all 0.3s ease-in-out;
  ;
}

.productItem .imgWrapper:hover img {
  transform: scale(1.1);
}

.imgWrapper .imgWrapper:hover .actions {
  opacity: 1;
  right: 10px;

}

.productItem .actions button svg {
  color: #000;
  opacity: 0.8;
  pointer-events: none;
  font-size: 14px;

}

.productItem .actions button:hover {
  background: #6d4aae;
}

.productItem .actions button:hover svg {
  color: #fff;
}

.homeCat {
  padding: 35px 0;
}

.homeCat .swiper {
  overflow: inherit;
}

.homeCat .swiper .item {
  padding: 15px;
  width: 100%;
  height: auto;
  background: #f4f1f0;
  border-radius: 10px;
}

.homeCat .swiper .item h6 {
  font-size: 14px;
}

.homeCat .swiper .img {
  width: 80%;
}

.homeCat .swiper-button-prev,
.homeCat .swiper-button-next {
  top: -30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.homeCat .swiper-button-prev {
  right: 68px;
  left: inherit;
}

.homeCat .swiper-button-prev:after,
.homeCat .swiper-button-next:after {
  font-size: 11px;


}

.productRow2 {
  flex-wrap: wrap;
  gap: 10px;
}

.productRow2 .productItem {
  width: 23%;
  overflow-x: hidden;
  border-right: rgba(0, 0, 0, 0.1);
}

.bannerSec {
  gap: 15px;
}

.sticky {
  position: sticky;
  top: 10px;
  z-index: 2;
}

.newsLetterSection {
  width: 100%;
  height: 400px;
  background: #6d4aae;
  position: relative;
  overflow: hidden;
  height: auto;
  padding: 70px 0px;
}


.newsLetterSection p {
  font-size: 18px;
  margin: 10px 0px;
}

.newsLetterSection h3 {
  font-size: 30x;
  font-weight: bold;
}

.newsLetterSection p .text-light {
  color: #fff;
  opacity: 0.5;
  font-size: 14px;
}

.newsLetterSection .col-md-6 {
  position: static !important;
}

.newsLetterSection img {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.newsLetterSection form {
  width: 100%;
  height: 60px;
  background: #fff;
  padding: 10px;
  position: relative;
  border-radius: 5px;
}

.newsLetterSection form svg {
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 25px;
  opacity: 0.3;
}

.newsLetterSection form input {
  width: 100%;
  height: 100%;
  background: #fff;
  outline: none;
  border: 0px;
  padding-left: 40px;
  padding-right: 200px;
}

.newsLetterSection form button {
  position: absolute;
  top: 6px;
  right: 7px;
  background: #6d4aae;
  font-size: 14px;
  padding: 12px 25px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 600;

}

footer {
  width: 100%;
  height: 500px;
  margin: auto;
  background: #fff;
  padding: 25px 0px;

}

footer .topInfo {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

footer .topInfo .col {
  padding: 10px 15px;
  padding-left: 40px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

footer .topInfo .col:last-child {
  border-right: 0px;
  ;
}

footer .topInfo .col svg {
  font-size: 26px;
}

footer .topInfo .col span {
  font-size: 14px;
  font-weight: 600;
}

footer .linksWrap h5 {
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: 600;
}

footer .linksWrap ul li {
  list-style: none;
  margin-bottom: 10px;

}

footer .linksWrap ul li a {
  color: #71778e;
  font-size: 13px;
}

footer .linksWrap ul li a:hover {
  text-decoration: none;
}

footer .copyright ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: rgba(0, 0, 0, 0.2);
}

footer .copyright ul li a:hover {
  background: #6d4aae;
}

footer .copyright ul li a svg {
  font-size: 16px;
  color: #6d4aae;

}

footer .copyright ul li a:hover svg {
  color: #fff;
}

.productModal .MuiPaper-elevation {
  padding: 25px;
  position: relative;
  max-width: 900px;
  width: 900px;
}

.productModal h4 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);

}

.productZoom {
  width: 100%;
  height: auto;
  padding: 0px;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
}
.productZoom .badge{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index:100;
}
.zoomSliderBig {
  width: 100%
}

.zoomSlider {
  padding-top: 30px;
}

.zoomSlider .slick-slide {
  padding-right: 20px;

}

.zoomSlider * {
  outline: none
}

.zoomSlider .item {
  border: 2px solid transparent;
  overflow: hidden;
  border-radius: 15px;
}

.zoomSlider .slick-current .item {
  border: 2px solid #3bb77e
}

.zoomSlider .slick-arrow {
  top: 55%;
  zoom: 80%;
}

.zoomSlider .slick-arrow .slick-next {
  right: -2px;
}

.zoomSlider .slick-arrow .slick-prev {
  left: -5px;
}

.quantityDrop {
  width: 150px;
  gap: 20px; 
}

.quantityDrop button {
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #edeef5;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
}
.quantityDrop button svg{
  color: #000;
}
.quantityDrop input {
  width: 30px;
  border: 0px;
  background: transparent;
  outline: none;
  text-align: center;
}

.productModal .actions button{
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* font-size: 10px; */
}

.productModal .actions button svg{
  font-size: 15px !important;
}